.sidebarContainer {
  background: #d8d7d4;
  padding: 2em;
}

.menus {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.menus a {
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  color: black;
  padding: 1em;
  border-radius: 10%;
}

.selectedMenu {
  background: #fff2a4;
}